.cabecera {
  display:flex;
  background-color: black;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
}

.blue-zone {
  background-color: rgb(145, 221, 221);
  height: 50%;
}

.Prueba-gratis{
  
  top: 0;
}

.img-logo-spotify {
  width: 100px;
}

.img-menu-hamburguesa {

  width: 15px;
}

.boton-hamburguesa {
  display: flex;
  align-items: center;
 
}

.iconos {
  width: 80px;
}