.cabecera {
  display:flex;
  background-color: black;
  justify-content: space-between;
}

.img-logo-spotify {
  width: 100px;
}

.img-menu-hamburguesa {

  width: 15px;
}

.boton-hamburguesa {
  display: flex;
  align-items: center;
 
}

