<div class="container">
  <h2 class="beneficios titulo-premium">¿Por qué pasarte a Premium?</h2>

  <div class="beneficios">
    <img class="iconos icono1" src="./images/benefit-1.png" alt="musical note simbolo de descarga">
    <div class="paquete1">
      <h3>Descarga música.</h3>
      <p>Llévala siempre contigo.</p>
    </div>
  </div>

  <div class="beneficios">
    <img class="iconos icono2" src="./images/benefit-2.png" alt="pantalla movil con simbolo exclamacion">
    <div class="paquete2">
      <h3>Sin anuncios.</h3>
      <p>Disfruta de música sin interrupciones.</p>
    </div>
  </div>

  <div class="beneficios">
    <img class="iconos icono3" src="./images/benefit-3.png" alt="nota musical con play simbol">
    <div class="paquete3">
      <h3>Escucha lo que quieras</h3>
      <p>Incluso en el móvil.</p>
    </div>
  </div>

  <div class="beneficios">
    <img class="iconos icono4" src="./images/benefit-4.png" alt="pantalla movil con simbolo play pause">
    <div class="paquete4">
      <h3>Salta todas las canciones que quieras.</h3>
      <p>Simplemente dale a siguiente.</p>
    </div>
  </div>
</div>